footer {
  background-color: $light-blue;
  text-align: center;
}

button#options {
  border: none;
  background-color: transparent;
  color: $white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

a:visited,
a:hover,
a:active {
  color: $white;
}
