@import "_colours";

html {
  width: 260px;
}

body {
  margin: 0;
  font-family: ‘Helvetica’, sans-serif;
  font-weight: 300;
}

.wrapper {
  margin: 10px;
}

.results {
  display: flex;

  .container {
    box-sizing: border-box;
    flex: 1 0 50%;
    height: 55px;
    margin-top: 10px;
  }

  .container:first-of-type {
    border-right: 1px solid $light-grey;
  }
}

h3 {
  margin-top: 7px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: lighter;
  color: $grey;
  text-align: center;
}

// Outputted amount with/without VAT header & value
#total-value,
#vat-value {
  font-size: 16px;
  color: $light-blue;
  text-align: center;
}
