doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="author" content="James L")
        meta(name="description" content="Quick VAT Calculator - Quickly calculate VAT without leaving Chrome.")
        link(rel="stylesheet" type="text/css" href="styles.css")
        script(type="text/javascript" src="main.js")
        title Quick VAT Calculator

    body
        .wrapper
            .form
                label(for="input") &pound;
                input(type="input" id="inital-value" name="input" placeholder="input your value")
                input(type="input" id="vat-percentage" name="vat-input" value="20")
                label(for="vat-input") &#37;
                button(id="add")
                button(id="remove")
            .results
                .container
                    h3 <span id="vat-type">Inc</span> VAT
                    #total-value
                .container
                    h3 VAT Amount
                    #vat-value
        footer
            a(href="" title="Settings" target="_blank") Settings